main {
	/* margin-top: 10px; */
}

.content {
  /* min-height: 1200; */
	height:100%;
}

html, body {
	background-color: none;
	height: 100%;
	/* color: #000; */
	/* color: #daf6ff; */
	/* font-size: 12pt; */
	font-family: monospace !important;
	 /*background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 100%); */
}

a, 
a:hover, 
a:active, 
a.focus, 
.nav-item {
	/* color: #daf6ff; */
	/* text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0); */
}

.input-group-text {
	min-width: 90px;
}

.fix-footer {
	padding: 5rem 0;
	color: #00ff00;
	text-align: center;
	height: 120px;
	background-color: none;
	/* border-top: .05rem solid #00ff00; */
}

.input-group-text {
	min-width: 9rem;
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}
