<div class="status">
	<nav class="navbar navbar-expand-sm">
		{% if current_user.is_authenticated %}
		<span class="navbar-brand">Welcom {{current_user.dpName}}</span>
		{% else %}
		<!-- <span class="navbar-brand">Welcom Guest</span> -->
		{% endif %}

		{% if current_user.is_authenticated %}
			<span class="text-end w-100" id="live_clock"></span>
		{% else %}
			<span class="text-end w-100" id="live_clock"></span>
		{% endif %}
		</nav>
	</div>

<div class="content-guest"></div>

<script>
	$(document).ready(function(){
		$('.content-guest').load('{{ url_for("static", filename="htm/content.html") }}');
	});
</script>