<form class="row" id="panels_forms" method="POST" action="/panel?mod=settings&act_=profileupdate" id="profile-form">

  <div class="mb-3 my-3">
    <div class="input-group" disabled>
      <label for="loginID" class="input-group-text">LOGIN ID</label>
      <input type="text" class="form-control" name="loginID" id="loginID" aria-describedby="inputGroupPrepend" value="{{current_user.login_id}}" readonly>
    </div>
  </div>

  <div class="mb-3">
    <div class="input-group">
      <label for="token" class="input-group-text">TOKEN</label>
      <input type="text" class="form-control" name="token" id="token" aria-describedby="inputGroupPrepend" value="{{current_user.token}}" readonly>
    </div>
  </div>

  <div class="mb-3">
    <div class="input-group">
      <label for="email" class="input-group-text">Email</label>
      <input type="email" class="form-control" name="email" id="email" aria-describedby="inputGroupPrepend" value="{{current_user.email}}" required>
    </div>
  </div>

  <div class="mb-3">
    <div class="input-group">
      <label for="dpName" class="input-group-text">Display Name</label>
      <input type="text" class="form-control" name="dpName" id="dpName" aria-describedby="inputGroupPrepend" value="{{current_user.dpName}}" required>
    </div>
  </div>

  <div class="mb-3">
    <div class="input-group">
      <label for="fname" class="input-group-text">First Name</label>
      <input type="text" class="form-control" name="fname" id="fname" aria-describedby="inputGroupPrepend" value="{{current_user.fname}}">
    </div>
  </div>

  <div class="mb-3">
    <div class="input-group">
      <label for="lname" class="input-group-text">List Name</label>
      <input type="text" class="form-control" name="lname" id="lname" aria-describedby="inputGroupPrepend" value="{{current_user.lname}}">
    </div>
  </div>

  <div class="mb-3">
    <div class="input-group">
      <label for="old-password" class="input-group-text">Old Password</label>
      <input type="password" class="form-control" name="old-password" id="old-password" aria-describedby="password_err" value="" required>
    </div>
    {% if return_log %}
      <div class="text-sm-start" style="color:red;">{{return_log}}</div>
    {% endif %}
  </div>

  <div class="mb-3">
    <div class="input-group">
      <label for="new-password" class="input-group-text">New Password</label>
      <input type="password" class="form-control" name="new-password" id="new-password" aria-describedby="inputGroupPrepend" value="">
    </div>
  </div>
  
  <div class="mb-3">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  
  <div class="col-12 d-grid">
    {% with flash_msg = get_flashed_messages() %}
      {% if flash_msg[0] == "PROFILE UPDATE SECCESS" %}
        <span class="text-sm-center">{{flash_msg[0]}}</span>
      {% elif flash_msg[0] == "Password Not Match!" %}
        <span class="text-sm-center" style="color:red;">{{flash_msg[0]}}</span>
      {% else %}
        <span class="text-sm-center">{{flash_msg[0]}}</span>
      {% endif %}
    {% endwith %}
    <button class="btn btn-outline-info" type="submit">UPDATE PROFILE</button>
  </div>
  
</form>
